
{% block paragraph %}

{# {{kint(content)}} #}
<section class=" bg-dark page-section bg-scroll what-we-offer text-black" style="background-color: #ffffff; padding-top: 0px; padding-bottom: 0px;">
	<h3 class=" fadeInUp align-center font-alt uppercase black wow fw-700 mb-50" style="margin-top: 0px;">{{wwo_section_heading}}
	</h3>
	<section class=" fadeInUp page-section bg-scroll wow bg-img-right bg-blue" style="padding-top: 0px; padding-bottom: 0px; background-color: #f9f9f9;">
		<div class=" row">
			<div class=" col-xs-12 col-sm-6 col-md-4 small-section-3 bg-blue">
				<h4 class=" align-left font-alt white fw-700">Solutions
				</h4>
				<div>
					<div class="view view-custom-soulutiontemplate view-id-custom_soulutiontemplate view-display-id-block_2 view-dom-id-1ab01b112292f39bdb3ee1f9dfbda85b">


						<div class="clearfix"></div>


						<div class="view-content">


                            {% for i in range(0, k1) %}
                                <div class="views-row views-row-1 views-row-odd views-row-first">

                                    <div class="views-field views-field-field-sol">
                                        <div class="field-content">
                                            <a href="{{data_list1[i]['uri']}}">{{data_list1[i]['name']}}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
						</div>


					</div>
				</div>
			</div>
			<div class=" col-xs-12 col-sm-6 col-md-4 small-section-3 bg-gray">
				<h4 class=" align-left font-alt black fw-700">Featured Technology
				</h4>
				<div>
					<div class="view view-custom-soulutiontemplate view-id-custom_soulutiontemplate view-display-id-block_1 view-dom-id-86cd23e5cfb53a0b36c5b8632781f4a3">


						<div class="clearfix"></div>


						<div class="view-content">
                            {% for i in range(0, k2) %}
                                <div class="views-row views-row-1 views-row-odd views-row-first">

                                    <div class="views-field views-field-field-technology-type">
                                        <div class="field-content">
                                            <a href="/{{data_list2[i]['uri']}}">{{data_list2[i]['name']}}</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
						</div>
					</div>
				</div>
			</div>
			<div class=" col-xs-12 col-sm-12 col-md-4 offer_image" style="background-image: url({{background_url}});"></div>
		</div>
	</section>
</section>
{% endblock paragraph %}