{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
<form {{ attributes }}>
  {{ form }}
  {% if form.contact_us_form.product.batchcode is not empty %}
  <div class="hide">
    <div class="tooltip-block has-batch-code" aria-live="polite">
      {% if (form.contact_us_form.tooltip_url_batch is not null and form.contact_us_form.tooltip_url_batch is not empty) or (form.contact_us_form.tooltip_text_batch is not null and form.contact_us_form.tooltip_text_batch is not empty) %}
      <div class="tooltip-icon-block">
        <i class="glyphicon glyphicon-info-sign" role="button"
          tabindex="0"></i>
      </div>
      <div>
        {% if form.contact_us_form.tooltip_text_batch is not null and form.contact_us_form.tooltip_text_batch is not empty %}
          <p class="tooltip-text">
            {{ form.contact_us_form.tooltip_text_batch|render|striptags  }}
          </p>
        {% endif %}
        {% if form.contact_us_form.tooltip_url_batch is not null and form.contact_us_form.tooltip_url_batch is not empty %}
          <img src="{{ form.contact_us_form.tooltip_url_batch|render|striptags  }}"
            alt="batchcode" aria-hidden="true">
        {% endif %}
      </div>
      {% endif %}
    </div>
  </div>
  {% endif %}
  {% if form.contact_us_form.product.barcode is not empty %}
  <div class="hide">
    <div class="tooltip-block has-bar-code" aria-live="polite">
      {% if (form.contact_us_form.tooltip_text_bar is not null and form.contact_us_form.tooltip_text_bar is not empty) or (form.contact_us_form.tooltip_url_bar is not null and form.contact_us_form.tooltip_url_bar is not empty) %}
      <div class="tooltip-icon-block">
        <i class="glyphicon glyphicon-info-sign" role="button"
          tabindex="0"></i>
      </div>
      <div>
        {% if form.contact_us_form.tooltip_text_bar is not null and form.contact_us_form.tooltip_text_bar is not empty %}
          <p class="tooltip-text">
            {{ form.contact_us_form.tooltip_text_bar|render|striptags  }}
          </p>
        {% endif %}
        {% if form.contact_us_form.tooltip_url_bar is not null and form.contact_us_form.tooltip_url_bar is not empty %}
          <img src="{{ form.contact_us_form.tooltip_url_bar|render|striptags  }}"
            alt="barcode" aria-hidden="true">
        {% endif %}
      </div>
      {% endif %}
    </div>
  </div>
  {% endif %}
  {{ children }}
</form>

