{{ attach_library('dsu_ratings_reviews/dsu-rating-dashboard') }}

<div class="ratings-dashboard">
    <div class="ratings-form-row">
        <div class="ratings-form-column">{{ bundle_select_form }}</div>
    </div>

    {% for type, dataItem in data %}
        <div class="ratings-content-type">
            {% if node is empty %}
                <h2>{{ 'Content type' }}: {{ dataItem.label }}</h2>
            {% else %}
                <h2>{{ dataItem.label }}: '{{ node.label }}'</h2>
            {% endif %}
            <div class="ratings-section-wrapper">
                <div class="ratings-section">
                    <h3 class="ratings-label">
                        {{ dataItem.label ~ ' Review Volume'|t }}
                    </h3>
                    <div class="ratings-sub-label">
                        {{ 'Overall performance of Ratings & Reviews across total portfolio'|t }}
                    </div>
                    <div class="ratings-row">
                        <div class="ratings-column">
                            <div class="rating-metric-label">{{ 'Total reviews'|t }} </div>
                            <div class="rating-metric-value">{{ dataItem.totalVotes }}</div>
                        </div>
                        <div class="ratings-column">
                            <div class="rating-metric-label">{{ 'Average rating'|t }}</div>
                            <div class="rating-metric-value">{{ dataItem.average }}</div>
                        </div>
                        <div class="ratings-column">
                            <div class="rating-metric-label">{{ '% 4-star+ reviews'|t }}</div>
                            <div class="rating-metric-value">{{ dataItem.fourStarVotesPercentage }} %</div>
                        </div>
                        <div class="ratings-column">
                            <div class="rating-metric-label">{{ '% Recommended'|t }}</div>
                            <div class="rating-metric-value">{{ dataItem.recommendationsPercentage }} %</div>
                        </div>
                    </div>
                </div>
                <div class="ratings-section">
                    <h3 class="ratings-label">
                        {{ 'Coverage'|t }}
                    </h3>
                    <div class="ratings-sub-label">
                        {{ 'How many products have published reviews'|t }}
                    </div>
                    <div class="ratings-row">
                        <div class="ratings-column">
                            <div class="rating-metric-label">{{ 'Total nodes'|t }}</div>
                            <div class="rating-metric-value">{{ dataItem.totalNodes }}</div>
                        </div>
                        <div class="ratings-column">
                            <div class="rating-metric-label">{{ 'With reviews'|t }}</div>
                            <div class="rating-metric-value">{{ dataItem.nodesWithReviewsPercentage }} % ({{ dataItem.nodesWithReviews }})</div>
                        </div>
                        <div class="ratings-column">
                            <div class="rating-metric-label">{{ 'Without reviews'|t }}</div>
                            <div class="rating-metric-value">{{ dataItem.nodesWithoutReviewsPercentage }} % ({{ dataItem.nodesWithoutReviews }})</div>
                        </div>
                    </div>
                </div>
                <div class="ratings-section">
                    <h3 class="ratings-label">
                        {{ 'Review Approval Status'|t }}
                    </h3>
                    <div class="ratings-sub-label">
                        {{ 'Status of reviews'|t }}
                    </div>
                    <div class="ratings-row">
                        <div class="ratings-column">
                            <div class="rating-metric-label">{{ 'Reviews pending moderation'|t }}</div>
                            <div class="rating-metric-value">{{ dataItem.published[0] }}</div>

                        </div>
                        <div class="ratings-column">
                            <div class="rating-metric-label">{{ 'Approved reviews'|t }}</div>
                            <div class="rating-metric-value">{{ dataItem.published[1] }}</div>
                        </div>
                    </div>
                    <div class="ratings-link">
                        <a href="{{ path('comment.admin') }}">See approved reviews</a>
                    </div>
                    <div class="ratings-link">
                        <a href="{{ path('comment.admin_approval') }}">See pending reviews</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% if data is not empty %}
        <div class="ratings-form-row">
            <div class="ratings-form-column">{{ node_select_form }}</div>
        </div>
    {% endif %}
</div>
