{#
/**
 * Available variables
 * - elements: array of element contains social media link.
 *
 */
#}


<div class="social-media-sharing dsu">
  <ul class="">
    {% set classes = [
    'share'
    ]
    %}
    {% for element in elements %}
      {% if element.forward_dialog == 1 %}
        {% set classes = classes|merge(['use-ajax']) %}
        {% set dialogType = "data-dialog-type=dialog" %}
        {% set dialogOptions = "data-dialog-options=" ~ {'width': '600'}|json_encode %}
      {% endif %}
      <li data-contentType="{{ element.entity_type }}" data-contentName="{{ element.entity_title }}">
        <a {{ dialogType }} {{ dialogOptions }} {{ element.attr.target }} {{ element.attr.class.addClass(classes) }}  {{ element.api }}
          title="{{ element.text }}" tabindex="0">
          {% if element.img %}
            <img alt="{{ element.text }}" src="{{ element.img }}">
          {% else %}
            {{ element.text }}
          {% endif %}
        </a>

      </li>
    {% endfor %}
  </ul>
</div>

