{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraphs: List of paragraphs to be shown in pane *
 * @see template_preprocess_paragraph__tabbed_content()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = []
%}
{% block paragraph %}
    <div{{ attributes.addClass(classes) }}>
    {% block content %}
      {% for key,value in paragraphs %}
          {% if key == 'tab_icon' %}
            <ul class="nav nav-tabs nav-justified" role="tablist">
                {% for item_id,tab_icon in value %}
                  {% set tab_class = '' %}
                  {% if loop.first %}
                      {% set  tab_class = 'active' %}
                  {% endif %}
                  <li role="presentation" class="{{ tab_class }}" data-color="{{ tab_icon.bg_color }}">
                      <a href="#tab-pane-{{item_id}}-{{ parent_paragraph }}" aria-controls="home" role="tab" class="{{ tab_class }}" data-toggle="tab" aria-expanded="true">{{ tab_icon.icon }} {{ tab_icon.title }}</a>
                  </li>
                {% endfor %}
            </ul>
          {% endif %}
          {% if key == 'tab_content' %}
              <div class="tab-content">
                {% for item_id,tab_content in value %}
                  {% set tab_pane_class = '' %}
                  {% if loop.first %}
                      {% set  tab_pane_class = 'active' %}
                  {% endif %}
                  <div role="tabpanel" tabindex="0" class="tab-pane {{ tab_pane_class }}" id="tab-pane-{{item_id}}-{{ parent_paragraph }}">
                      {{ tab_content }}
                  </div>
                {% endfor %}
               </div>
          {% endif %}          
      {% endfor %}
    {% endblock %}
  </div>
{% endblock paragraph %}
