{#
/**
 * @file
 * Template file for adimo module.
 */
#}

{% set data_cookie_consent= cookieconsent ? "false" : "true" %}
{% if touchpointId is not empty %}
  {{ attach_library('ln_adimo/enhancedrecipe') }}
  {{ attach_library('ln_adimo/adimo-cookie-consent') }}
  <!-- To be placed where you would like the iFrame to appear -->
  {% if customButtonHTML is not empty %}
    <div class="adimo-container" data-type="recipe-widget"
         data-touchpoint-id="{{ touchpointId }}" data-do-not-track="false"
         onclick="window.Adimo.setLanguage('{{ language }}');">
    </div>
  {% else %}
    <iframe class="adimo-recipe-frame" data-type="recipe-widget"
            data-touchpoint-id="{{ touchpointId }}"
            data-do-not-track="false"
            onclick="window.Adimo.setLanguage('{{ language }}');">
    </iframe>
  {% endif %}

  {% if customCSS is not empty %}
    <style>{{ customCSS }}</style>
  {% endif %}
{% endif %}
