{#
/**
 * @file
 * Template file for adimo module.
 */
#}
{% set data_cookie_consent= cookieconsent ? "false" : "true" %}
{% if touchpointId is not empty %}

  {{ attach_library('ln_adimo/lightbox') }}
  {{ attach_library('ln_adimo/adimo-cookie-consent') }}


  <!-- To be placed where you would like the button to appear -->
  {% if customButtonHTML is not empty %}
    <div class="adimoWidget" data-type="lightbox"
         data-static-touchpoint-identifier="{{ touchpointId }}"
         data-do-not-track="false"
         onclick="window.Adimo.setLanguage('{{ language }}');">{{ customButtonHTML|raw }}</div>

  {% else %}
    <div class="adimoWidget" data-type="lightbox"
         data-static-touchpoint-identifier="{{ touchpointId }}"
         data-do-not-track="false">
      <button class="button-text"
              onclick="window.Adimo.setLanguage('{{ language }}');">{{ 'Buy Now'|t }}</button>
    </div>
  {% endif %}

  {% if customCSS is not empty %}
    <style>{{ customCSS }}</style>
  {% endif %}
{% endif %}
